<a href="https://colab.research.google.com/github/tbonne/IntroPychStats/blob/main/notebooks/Intro_to_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='http://drive.google.com/uc?export=view&id=1_zplE3GeQqAtwo5GzGOJIdN-EpkM1gxy' width=500>

# Introducing R notebooks

Hi everyone, we'll be using R notebooks to help understand some of the statistical topics we're discusing in class. Let's take a quick look at how to use an R notebook. 

### Layout

The first thing you might notice is that there are white and grey areas. In the white areas i'll write text giving you information or directions on what to do. While in the grey areas there will be some computer code. This code will be writen in R, but don't worry you won;t have to do much coding yourselves!! Generally, you can read these notebooks just like you would a blog, the only difference is that sometimes you'll interact with the note book by "running" code.


### Running code

Another thing you might notice is that by hovering over the grey areas you'll see a little play button appear on the top left of the grey area. If you click that button you'll run the code in the grey area. Generally, once you run the code you'll see some output underneath. Let's give that a try below, hover over the grey box below and press play.

In [ ]:
#here we will store your name
my_name <- "tyler"

#here we will print your name 
print(my_name)

[1] "tyler"

After pressing play you should see "tyler" displayed directly below the grey area. If so, everything is working ok! Now if you change the name from "tyler" to "yourName" and press play again you'll see your name printed below. Sometimes, i'll get you to change parts of the code, but don't worry it will always be something small. You wont have to do very much coding yourselves, though by the end of class i'm hoping to have made coding a little less worriesome. 

*Note*: in the code area above did you notice that print is a function just like in google sheets. We give it some input and it will give us an output. In this case your name!

### Working with data

Sometimes we will want to bring in some data into our notebook. This can be done many ways but to make it easier for us i'll provide a code area that loads in the data from a file. Let's load in a dataset! Click play in the code block below.

In [ ]:
#here we will read in a csv file and place it into something called df
df <- read.csv("https://raw.githubusercontent.com/tbonne/IntroPychStats/main/data/kidIQ.csv", header = T)

The above code uses the function read.csv to grab the IQ data we've used in class and placed it into a variable called df. We can then ask to see what df looks like by running the code below.

In [ ]:
#take a look at our data in df
df

    kid_score mom_hs mom_iq    mom_work mom_age
1    65       1      121.11753 4        27
2    98       1       89.36188 4        25
3    85       1      115.44316 4        27
4    83       1       99.44964 3        25
5   115       1       92.74571 4        27
6    98       0      107.90184 1        18
7    69       1      138.89311 4        20
8   106       1      125.14512 3        23
9   102       1       81.61953 1        24
10   95       1       95.07307 1        19
11   91       1       88.57700 1        23
12   58       1       94.85971 4        24
13   84       1       88.96280 4        27
14   78       1      114.11430 4        26
15  102       0      100.53407 2        24
16  110       1      120.41915 1        26
17  102       1      114.42688 3        23
18   99       1      111.59236 3        26
19  105       1      133.84923 4        20
20  101       0       97.26480 3        17
21  102       1      110.09681 4        21
22  115       1      126.72399 2        26
23  100       1       97.91159 2        20
24   87       1       99.92573 4        23
25   99       0       97.59501 4        19
26   96       1      121.74801 4        27
27   72       1       98.74808 3        21
28   78       1       97.91525 4        22
29   77       1       80.35856 2        24
30   98       1      114.30786 2        22
⋮   ⋮         ⋮      ⋮         ⋮        ⋮
405  96       0       84.98531 3        19
406  65       0       82.98596 1        21
407  64       1      101.79504 3        24
408  95       1      100.24363 2        26
409  56       1      110.01348 4        23
410  75       0       88.57700 2        23
411  91       1      106.74204 3        22
412 106       1       95.29214 2        18
413  76       1      108.31325 1        19
414  90       1      110.33139 3        26
415 108       1      116.82980 4        22
416  86       0       86.68554 1        23
417  85       1       96.85662 2        21
418 104       0       90.24826 1        18
419  87       1       89.29081 4        21
420  41       0       74.23025 1        25
421 106       0       91.88382 4        25
422  76       0       96.46072 3        26
423 100       0       97.40379 4        23
424  89       1      131.53329 4        21
425  42       1       78.24456 2        27
426 102       1      127.67572 4        29
427 104       1      124.51463 4        23
428  59       0       80.46402 4        21
429  93       0       74.86073 2        25
430  94       0       84.87741 4        21
431  76       1       92.99039 4        23
432  50       0       94.85971 2        24
433  88       1       96.85662 2        21
434  70       1       91.25334 2        25

You should see the IQ data now! It is formatted just like in our spreadsheet, with rows being observations and columns being variables that describe each observation.

### Take-away-messages

Remember if this seems like a lot to you, don't worry i won't ask you to do very much coding. We will primarily use these little notebooks to help learn topics we discuss in the class, so they are here to help! Also feel free to contact me on slack if anything is not working for you, or you have questions about colab! 

Happy coding :-)